[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cairosvg = "*"
requests = "*"
torch = "*"
torchvision ="*"
tqdm= "*"
ftfy = "*"
regex = "*"
pandas = "*"
apispec = "*"
flask_swagger_ui = "*"
apispec_webframeworks = "*"
marshmallow = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.8"
